---
name: 'test'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  test-default:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, oracle-aarch64]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Lint GitHub Action Workflows
        uses: ./
  test-version:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Lint GitHub Action Workflows
        uses: ./
        with:
          version: "1.6.24"
          checksum: "3c5818744143a5d6754edd3dcc4c2b32c9dfcdd3bb30e0e108fb5e5c505262d4"
  test-wrong-checksum:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Lint GitHub Action Workflows
        id: should-fail
        uses: ./
        continue-on-error: true
        with:
          version: "1.6.23"
          checksum: "4c5818744143a5d6754edd3dcc4c2b32c9dfcdd3bb30e0e108fb5e5c505262d4"
      - name: Pass if action failed
        if: steps.should-fail.outcome == 'failure'
        run: exit 0
      - name: Fail if action passed
        if: steps.should-fail.outcome == 'success'
        run: exit 1
  test-no-checksum:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Lint GitHub Action Workflows
        uses: ./
        with:
          version: "1.6.23"
